<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings >
    <add name="sqlstr" connectionString="RhsMyUNw5pV3HkCS3VU6lA4q27RziKJ1eIAnmnWKwrvwy45yDPovC8bjMuugb/LE8fx/REsgpwwXgg25UF3P2Q==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>